/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*---------General styles-----*/

html {
    font-size: 16px;
}

 
body {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin: 0 auto;
  background-color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
  }


/*----------hero image------*/

header {
    background: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    width: auto;
    height: 25em;
    padding: 20px;
    background-size: cover;
    border-bottom: 0.5em solid pink;
}


/*--------Flexbox settings-----*/

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }

.div-1, .div-2, .div-3 {
    justify-content: center;
    align-items: center;
    line-height: 26px;
    text-align: center;
    background-color: pink;
    width: 100%;
    padding: 50px 0;
}
  

.div-1,
.div-2 {
  border-bottom: 0.5px solid rosybrown;
}


/*---------Header styles---------*/

header h1 {
    font-size: 4em;
    font-variant-caps: small-caps;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


h3 {
    color: floralwhite;
    font-size: 25px;
    width: 80%;
}

.top-section {
    padding-bottom: 30px;
 }

 
.intro {
    padding: 10px 0;
    color: black;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    text-align: center;
    color: pink;
}

.intro h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-variant: small-caps;
    width: 30%;
    margin: 10px;
    height: 100px;
    border: 1px solid grey;
}

.intro p {
    font-size: 1.1em;
    text-align: justify;
    padding-top: 50px;
    line-height: 2.78em;
    margin: 10px 15px 0 15px;
  
        
}

.intro i {
    padding-right: 5px;
    color: pink;
}


.tagline {
    color: black;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 6em 0;
    width: 85%;

}



/*-----------Footer styles-------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    font-size: 1.5em;
    padding: 10px;
    background-color: pink;
    text-align: center;
}

.contact h4 {
    font-style: normal
}
footer p {
    font-size: 0.8em;
    margin: 0;
  }
  
footer .content-wrapper {
    width: 90%;
    margin: 10px 0;
  }
  
footer .contact {
    margin-bottom: 50px;
  }
  
footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer .social-icons p {
    background-color:whitesmoke;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer .social-icons p i {
    font-size: 1.3em;
    color: hotpink;
  }
  
  footer .copyright {
    margin: 20px 0;
  }
  
  .copyright p {
    text-align: center;
    font-size: 0.5em;
    line-height: 2em;
    color: grey;
  }

  /*--------Mobile styles------*/

  



  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width:768px) {
    /*Tablet styles here*/
  
    /* General styles */

    .content-wrapper {
      max-width: 800px;
      margin: 100px 0;
    }  

    body {
      font-size: 1.3em;
    }

    /*-----header styles-----*/
    
   
    header h1 {
      font-size: 5.3em;
    }

    /*------three divs-------*/
    .wrapper {
      background-color: pink;
      border-radius: 20px;
      padding: 75px 0;
    }
    .div-1,
    .div-2,
    .div-3 {
      background-color: white;
      color: pink;
      width: 30%;
      box-sizing: border-box;
      border: 2px solid rosybrown;
      border-radius: 40px;
      margin: 10px;
      padding: 20px 20px;
      text-align: left;
    }

    .wrapper h1 {
      width: 40%;
      line-height: 1em; 
      margin: 0; 
      
    }

    .wrapper li {
        line-height: 1.5em;
        list-style-type: disc;
        font-size: 0.9em;
    }

    .wrapper ul {
      border-top: 1px solid grey;
      padding: 10px;
      margin-top: 5px;
    }

    /*-------tagline ------*/
    .tagline {
      padding: 3em 0;
      width: 90%;
      font-size: 1em;
  }


      
      /* Footer */
      footer .content-wrapper {
        width: 90%;
        margin: 0;
      }
    
      footer .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
        padding: 20px 0;
      }
    
      footer .contact {
        margin: 0;
      }
    
      footer h4 {
        font-size: 1em;
        margin: 10px;
      }
    
      footer p {
          line-height: 1.285;
      }
    
      footer .social-icons {
       flex-direction: column;    
      }
      
      .social-icons p {
        margin: 5px;
      }
      footer .copyright {
        width: 100%;        
      }
    

    

  }


@media only screen and (min-width:1200px) {
    /*Desktop styles here*/

    main {
      width: 95%;
      margin: 0 auto;
    }

    .intro p {
      font-size: 1.6em;
    }

    .into h1 {
      font-size: 3.5em;
    }
    .intro h2 {
      font-size: 2em;
    }

    .wrapper {
      padding: 100px;
    }

    .wrapper h1 {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }
    
    .wrapper ul {
      padding: 30px 0;
    }

    .wrapper li {
      list-style-type: none;
      padding: 8px 0;
      font-size: 1.5em;
      text-align: center;
      line-height: 50px;
      border-top: 1px dashed rosybrown
    }

    .wrapper li:first-child {
      border: none
    }


    .tagline {
      font-size: 1.3em;
      letter-spacing: 4px;
    }
     


    




@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */

    @media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
